/* Variables */
/* ALL */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(44, 61, 85, 0.05);
}

/* Header */
header {
  background-color: #2C3D55;
  color: #FFF;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
header h1 {
  margin-right: 60px;
}
@media screen and (min-width: 992px) {
  header h1 {
    margin-left: 20px;
  }
}
header h1 a {
  text-decoration: none;
  color: #FFF;
}

/* Informations Bar */
#informations-bar {
  background: #84828F;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
}
@media screen and (min-width: 992px) {
  #informations-bar {
    margin-left: 350px;
  }
}
#informations-bar p {
  color: #FFF;
  line-height: 1.3em;
  margin: 0 10px;
}
#informations-bar p:nth-child(2) {
  text-align: right;
}

@media screen and (min-width: 992px) {
  #threads {
    margin-left: 350px;
  }
}
#threads a {
  text-decoration: none;
  color: #FFF;
}
#threads .thread-in-sub {
  width: 90%;
  margin: 10px auto;
  border-radius: 3px;
  height: 75px;
  background: #84828F80;
  color: #FFF;
}
#threads .thread-in-sub:hover {
  background: #84828F;
}
#threads .thread-in-sub p {
  margin: auto 5px;
  padding-top: 10px;
}

/* Post Line */
@media screen and (min-width: 992px) {
  #post-line {
    margin-left: 350px;
  }
}
#post-line #user-text-post {
  width: 90%;
  margin: 10px auto;
  background: #FFF;
  border-radius: 5px;
  padding: 5px 0;
}
@media screen and (min-width: 992px) {
  #post-line #user-text-post {
    width: 60%;
  }
}
#post-line #user-text-post p {
  margin: 10px;
  text-align: justify;
}
#post-line #user-text-post .separation-line {
  width: 300px;
}
#post-line #user-text-post #buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
}
@media screen and (min-width: 992px) {
  #post-line #user-text-post #buttons {
    justify-content: left;
    margin-left: 15px;
  }
}
#post-line #user-text-post #buttons .button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  width: 70px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  #post-line #user-text-post #buttons .button {
    margin: 0 5px;
  }
}

/* Comments */
@media screen and (min-width: 992px) {
  #comments {
    padding-left: 20px;
  }
}
#comments .post-comment {
  width: 90%;
  margin: 15px auto;
  margin-right: 10px;
  border-radius: 5px;
  background: #FFF;
  padding: 5px 0;
}
@media screen and (min-width: 992px) {
  #comments .post-comment {
    width: 60%;
    margin-right: auto;
  }
}
#comments .post-comment .comment-infos {
  display: flex;
  margin: 15px auto;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 992px) {
  #comments .post-comment .comment-infos {
    justify-content: left;
  }
}
#comments .post-comment .comment-infos .profile-picture {
  width: 50px;
  height: 50px;
  background: gray;
}
@media screen and (min-width: 992px) {
  #comments .post-comment .comment-infos .profile-picture {
    margin: 0 15px;
  }
}
#comments .post-comment .comment-text {
  margin: 10px;
  text-align: justify;
}

/* Burger Menu */
.burger-menu {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 992px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu-line__1, .burger-menu-line__2, .burger-menu-line__3 {
  width: 40px;
  height: 3px;
  background: #FFF;
  border-radius: 5px;
  transition: all 0.5s ease;
}

input {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  margin-left: 20px;
}
input:checked + .burger-menu .burger-menu-line__1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}
input:checked + .burger-menu .burger-menu-line__2 {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
input:checked + .burger-menu .burger-menu-line__3 {
  transform: rotate(45deg) translate(-8px, -9px);
}
input:checked ~ #navigation-bar {
  transform: translate(0px, 0);
}

#navigation-bar {
  position: absolute;
  width: 100%;
  height: calc(100vh - 75px);
  left: 0px;
  top: 75px;
  background: #3E4C5E;
  transform: translate(-100vh, 0);
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 992px) {
  #navigation-bar {
    transform: translate(0, 0);
    width: 350px;
    position: fixed;
    left: 0;
    top: 75px;
  }
}
#navigation-bar #user {
  margin: 20px;
  line-height: 1.5em;
}
#navigation-bar #user #connection-state {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #03C946;
  border-radius: 50%;
  transform: translate(0, 2px);
}
#navigation-bar #favs {
  margin: 20px;
  list-style: none;
}
#navigation-bar #favs a {
  text-decoration: none;
  color: #FFF;
}
#navigation-bar #favs li {
  background: #84828F;
  border-radius: 5px;
  margin-top: 10px;
  padding: 7px 10px;
}
#navigation-bar #favs li:hover {
  background: #84828F80;
}

.separation-line {
  display: block;
  margin: 0 auto;
  width: 330px;
  height: 1px;
  background-color: #84828F;
}

/* Home */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-message {
  margin-left: 350px;
  margin-top: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #2C3D55;
}

/*# sourceMappingURL=styles.css.map */
