/* Variables */
$light-blue: #84828F;
$dark-blue: #3E4C5E;
$darker-blue: #2C3D55;

$screen-height-size: calc(100vh - 75px);

/* ALL */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(44, 61, 85, .05);
}

/* Header */
header{
    background-color: $darker-blue;
    color: #FFF;
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        margin-right: 60px;
    }
}

/* Burger Menu */
.burger-menu{
    width: 50px;
    height: 50px;
    //border: 2px solid #FFF;
    border-radius: 5px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &-line__1,
    &-line__2,
    &-line__3{
        width: 40px;
        height: 3px;
        background: #FFF;
        border-radius: 5px;
        transition: all 0.5s ease;
    }
}
input{
    display:block;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    margin-left: 20px;

    &:checked{
        + .burger-menu{
            .burger-menu-line__1{
                transform: rotate(-45deg) translate(-10px, 10px);
            }
            .burger-menu-line__2{
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            .burger-menu-line__3{
                transform: rotate(45deg) translate(-8px, -9px);
            }
        }

        ~ #navigation-bar{
            transform: translate(0px, 0);
        }
    }
}

#navigation-bar{
    position: absolute;
    width: 100%;
    height: $screen-height-size;
    left: 0px;
    top: 75px;
    background: $dark-blue;
    transform: translate(-100vh, 0);
    transition: all 0.5s ease-in-out;

    #user{
        margin: 20px;
        line-height: 1.5em;

        #connection-state{
            display: inline-block;
            width: 15px;
            height: 15px;
            background: #03C946;
            border-radius: 50%;
            transform: translate(0, 2px);
        }
    }

    .separation-line{
        display: block;
        margin: 0 auto;
        width: 330px;
        height: 1px;
        background-color: $light-blue;
    }
}


/* Home */
#home{
    display: flex;
    align-items: center;
    justify-content: center;

    &-message{
        margin-top:300px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: $darker-blue;
    }
}