/* Variables */
$light-blue: #84828F;
$dark-blue: #3E4C5E;
$darker-blue: #2C3D55;

/* ALL */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(44, 61, 85, .05);
}

/* Header */
header{
    background-color: $darker-blue;
    color: #FFF;
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        margin-right: 60px;
    }
}

/* Burger Menu */
.burger-menu{
    width: 50px;
    height: 50px;
    //border: 2px solid #FFF;
    border-radius: 5px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &:active{
        .burger-menu-line:first-child{
            transform: rotate(-45deg) translate(-10px, 10px);
        }
        .burger-menu-line:last-child{
            transform: rotate(45deg) translate(-8px, -9px);
        }
        .burger-menu-line:nth-child(2){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
    }

    &:active + #navigation-bar{
        transform: translate(0px, 470px);
    }

    &-line{
        width: 40px;
        height: 3px;
        background: #FFF;
        border-radius: 5px;
        transition: all 0.5s ease;
    }
}

#navigation-bar{
    background: black;
    width: 350px;
    height: 92%;
    position: absolute;
    transform: translate(-500px, 470px);
    transition: all 0.5s ease;    
    li{
        color: #fff;
        padding: 10px 0;
    }
}


/* Home */
#home{
    display: flex;
    align-items: center;
    justify-content: center;

    &-message{
        margin-top:300px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: $darker-blue;
    }
}